html {
font-family: Helvetica;
font-size: 14px;
text-align: center;
color: dimgray;
}

 h1,
 a,
.footer {
color: white;
}

h1 {
font-size: 70px;
}

h2 {
font-size: 32px;
font-weight: bold;
}

h3 {
font-size: 23px;
font-weight: bold;
}

a {
font-size: 18px;
}

.main-heading,
.ny-design-divider
{
   background-image: url("../images/the-flatiron-building.png");
}

.ny-design-divider
{
 color: white;
}

.footer p {
font-size: 11px;
font-weight: bold;
}

.footer {
  text-align: left;
  background-color: dimgray;
}
