html {
font-family: Helvetica;
font-size: 14px;
text-align: center;
color: dimgray;
}

.main-heading h1,
.main-heading a,
.footer {
color: white;
}

.main-heading h1 {
font-size: 70px;
}

.main-heading a,
.footer a {
font-size: 18px;
}

.main-heading,
.ny-design-divider
{
   background-image: url("../images/the-flatiron-building.png");
}

.sub-heading h2 {
font-size: 32px;
}

h3,
.ny-design-divider p
 {
font-size: 23px;
}

.ny-design-divider p
{
 color: white;
 font-weight: bold;
}
.footer p {
font-size: 11px;
font-weight: bold;
}

.footer a{
color: white;
}

.footer {
  text-align: left;
  background-color: dimgray;
}
